@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
	font-size: 1rem;
	text-align: center;
}

body {
	background: #a7e206a4;
	color: #fff;
}

input,
select {
	text-align: left;
	padding: 0.3rem 0.4rem;
	margin: 0.5rem 0 0.5rem 0.8rem;
	border: 1px solid #a4a4a4;
	color: #a2a2a2;
	width: 50%;
	outline: none;
	border-radius: 0.2rem;
}

select {
	background-color: #fff;
	padding: 0.3rem 0.8rem;
	margin: 0.5rem 0 0.5rem 0.8rem;
	border: 1px solid #a4a4a4;
	color: #a2a2a2;
	height: 2rem;
	outline: none;
}

button {
	padding: 0.5rem 1rem;
	background-color: #f5ac38;
	margin: 0.5rem 0;
	border: 2px solid brown;
	cursor: pointer;
	margin: 20px;
	border-radius: 0.3rem;
}
